[Desktop Entry]
Name=Wave
Exec=/opt/Wave/waveterm --enable-features UseOzonePlatform --ozone-platform=x11 --ozone-platform-hint auto --no-sandbox %U
Terminal=false
Type=Application
Icon=waveterm
StartupWMClass=Wave
Comment=Open-Source AI-Native Terminal Built for Seamless Workflows
Keywords=developer;terminal;emulator;
Categories=TerminalEmulator;
